* {
  margin: 0;
  box-sizing: border-box;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #000000;
  font-family: Arial;
  font-size: 80px;
}
